/**************************** Basic parameters ****************************/
process.executor = 'pbspro'
process.queue = 'workq'

// singularity
singularity.runOptions = ' --bind /hpcnfs/ '
singularity.enabled = true

process.container = 'docker://yinxiu/variantalker:v1.0'
// different containers
process {
   withName: germline_renovo_annotation {
      container = 'docker://yinxiu/renovo:latest'
   }
}

process{
   withName: ascat_calling{
      container = '' // inactivate singularity for clonal tmb
   }
}

params.analysis = 'annotation' // type of analysis: annotation, biomarker, database_update. If not defined, annotation is used
params.build = 'hg38' // hg19 or hg38
params.fasta = '' // genome fasta file
params.pipeline = 'dragen' // dragen, sarek and iontorrent available. 
params.target = '' // target file
params.tumoronly = false // true if no normal is present
params.output = "" // default output folder for all annotation, biomarker and report files
params.projectid = "test"


tower {
  enabled = false
}

/**************************** Annotation input file ****************************/
// input files
params{
   somatic{
      funcotator_db = '' // path to funcotator somatic database, e.g. funcotator_dataSources.v1.7.20200521s
      input_cnv = '' // For sarek: cnvkit_input.tsv that is created by create_cnvkit_input.sh. For dragen, list of files *name*format
      input_snp_indel = '' // format of file tab separated: tumor_type vcf_file
   }
   germline{
      funcotator_db = '' // path to funcotator germline database,  e.g. funcotator_dataSources.v1.7.20200521g
      input_snp_indel = '' // vcf or list of vcf files
   }
}

// cancervar and intervar 
params {
   cancervar {
      annovar_db_folder = '' // path to annovar database, e.g. humandb folder within annovar software
      annovar_folder = '' // path to annovar software 
      input_type = 'VCF_m' // VCF for single and VCF_m for multiple samples
   }
   intervar {
      input_type = 'VCF'
   }
}


/* Remove comment if you want to use your own cancervar, intervar and annovar databases and softwares
// DANGER ZONE, modify if you know what you are doing
// optional configs for cancervar and intervar
params{
   cancervar_folder = '' // CancerVar software path folder
   intervar_folder = '' // InterVar software path folder
   cancervar_init = '' // this file must be the same as the one in resources/configs/config.init.CancerVar except for the line database_names = 
   intervar_init = '' // this file must be the same as the one in resources/configs/config.init.intervar except for the line database_names =
   cancervar_db = '' // CancerVar database path folder, e.g. path2/cancervardb
   intervar_db = '' // InterVar database path folder e.g. path2/intervardb
}
// END DANGER ZONE
/*


/**************************** Biomarkers parameters ****************************/
params{
   biomarkers{
      rna{
         input_counts = '' // tsv or list of tsv count files. You can use * as in bash
      }
      dna{
         input_folder = '' // folder containing the the maf file
      }
      ascat{
         input = "" // comma separated sarek (3.1.2) input file with extra column with cellularity. If cellularity is not present, just add header cellularity (column with no entry)
      }
   }
}


/**************************** pipeline specific configurations ****************************/
includeConfig 'config/annotation.config'
includeConfig 'config/biomarker.config'


/**************************** Manifest ****************************************************/

manifest {
    name            = 'variantalker'
    author          = """Yinxiu Zhan, Bastian Eichenberger"""
    homePage        = 'https://github.com/zhanyinx/variantalker'
    description     = """Variant annotation pipeline."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}
