singularity.enabled = true
singularity.runOptions = ' --bind / '
process.executor = 'local'


params {
   max_cpus = 15 // Base specifications
   max_memory = 40.GB // Base specifications
   max_time = 10.h // Base specifications
   tools = "ascat"
   wes = true
 }

/*
params {
    genomes {
        'GATK.GRCh37' {
            ascat_alleles         = "/hpcnfs/scratch/temporary/public_databases/ascat_wes_files/hg19/G1000_alleles_hg19.zip"
            ascat_loci            = "/hpcnfs/scratch/temporary/public_databases/ascat_wes_files/hg19/G1000_loci_hg19.zip"
            ascat_loci_gc         = "/hpcnfs/scratch/temporary/public_databases/ascat_wes_files/hg19/GC_G1000_hg19.zip"
            ascat_loci_rt         = "/hpcnfs/scratch/temporary/public_databases/ascat_wes_files/hg19/RT_G1000_hg19.zip"
        }
   }
}

params {
    genomes {
        'GATK.GRCh38' {
            ascat_alleles         = "/hpcnfs/scratch/temporary/public_databases/ascat_wes_files/hg38/G1000_alleles_hg38.zip"
            ascat_loci            = "/hpcnfs/scratch/temporary/public_databases/ascat_wes_files/hg38/G1000_loci_hg38.zip"
            ascat_loci_gc         = "/hpcnfs/scratch/temporary/public_databases/ascat_wes_files/hg38/GC_G1000_hg38.zip"
            ascat_loci_rt         = "/hpcnfs/scratch/temporary/public_databases/ascat_wes_files/hg38/RT_G1000_hg38.zip"
        }
   }
}
*/