process {
    errorStrategy = 'retry'
    maxRetries = 2

    withName:fix_somatic_header {
        cpus = 1
        memory = { 100.MB * task.attempt }
        container = "docker://yinxiu/variantalker_annotation:latest"
        tag = { "${ meta.custom_id ?: meta.patient }" }
        time = {10.m * task.attempt}
    }

    withName:standardize_vcf {
        cpus = 1
        memory = { 100.MB * task.attempt }
        tag = { "${ meta.custom_id ?: meta.patient }" }
        container = "docker://yinxiu/variantalker_annotation:latest"
        time = {10.m * task.attempt}
    }

    withName:handle_empty_sample {
        cpus = 1
        memory = { 100.MB * task.attempt }
        container = "docker://yinxiu/variantalker_annotation:latest"
        tag = { "${ meta.custom_id ?: meta.patient }" }
        time = {10.m * task.attempt}
    }

    withName:split_chunks {
        cpus = 1
        memory = { 100.MB * task.attempt }
        container = "docker://yinxiu/variantalker_annotation:latest"
        tag = { "${ meta.custom_id ?: meta.patient }" }
        time = {10.m * task.attempt}
    }
    
    withName:run_funcotator_parallel {
        cpus   = 1
        memory = { 4.GB * task.attempt }
        tag = { "${ meta.custom_id ?: meta.patient }_${chunk_index}_${mini_index}" }
        container = "docker://yinxiu/variantalker_annotation:latest"
        time = {1.h * task.attempt}
    }

    withName:run_funcotator_single {
        cpus   = 1
        memory = { 10.GB * task.attempt }
        tag = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        container = "docker://yinxiu/variantalker_annotation:latest"
        time = {1.h * task.attempt}
    }

    withName:split_funcotator_chunks {
        cpus   = 1
        memory = { 50.MB * task.attempt }
        tag    = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        container = "docker://yinxiu/variantalker_annotation:latest"
        time = {1.h * task.attempt}
    }

    withName:merge_funcotator_chunks {
        cpus   = 1
        memory = { 50.MB * task.attempt }
        tag    = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        container = "docker://yinxiu/variantalker_annotation:latest"
        time = {1.h * task.attempt}
    }

    withName:add_guidelines_escat_to_funcotator {
        cpus = 1
        memory = { 500.MB * task.attempt }
        container = "docker://yinxiu/variantalker_annotation:latest"
        tag = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        time = {10.m * task.attempt}
    }

    withName:add_alpha_missense {
        cpus = 1
        memory = { 4.GB * task.attempt }
        tag = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        container = "docker://ubuntu:20.04"
        time = {30.m * task.attempt}
    }

    withName:filter_maf {
        cpus = 1
        memory = { 500.MB * task.attempt }
        container = "docker://yinxiu/variantalker_annotation:latest"
        tag = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        time = {2.h * task.attempt}
    }

    withName:generate_clinical_summary {
        cpus = 1
        memory = { 500.MB * task.attempt }
        container = "docker://yinxiu/gatk:latest"
        tag = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        time = {2.h * task.attempt}
    }

    withName:merge_chunks {
        cpus = 1
        memory = { 50.MB * task.attempt }
        container = "docker://yinxiu/variantalker_annotation:latest"
        tag = { "${ meta.custom_id ?: meta.patient }" }
        time = {10.m * task.attempt}
    }

    withName:filter_germline_variants {
        cpus = 1
        memory = { 800.MB * task.attempt }
        tag = { "${ meta.custom_id ?: meta.patient }" }
        container = "docker://yinxiu/variantalker_annotation:latest"
        time = {10.m * task.attempt}
    }

    withName:run_germline_intervar {
        cpus = 1
        memory = { 4.GB * task.attempt }
        tag = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        container = "docker://yinxiu/gatk:latest"
        time = {60.m * task.attempt}
    }

    withName:run_germline_renovo {
        cpus = 1
        memory = { 1.GB * task.attempt }
        tag = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        container = "docker://yinxiu/renovo:v1.0"
        time = {15.m * task.attempt}
    }

    withName:add_somatic_civic {
        cpus = 3
        memory = { 1.GB * task.attempt }
        container = "docker://yinxiu/civicpy:v1.0"
        tag = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        time = {2.h * task.attempt}
    }

    withName:run_somatic_cancervar {
        cpus = 1
        memory = { 2.GB * task.attempt }
        container = "docker://yinxiu/gatk:latest"
        tag = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        time = {60.m * task.attempt}
    }

    withName:annotate_cnv{
        cpus = 1
        memory = { 1.GB * task.attempt }
        container = "docker://yinxiu/classifycnv:latest"
        tag = { "${ meta.custom_id ?: meta.patient }" }
        time = {5.m * task.attempt}
    }

    // Database
    withName:split_by_database{
        cpus = 1
        memory = { 2.GB * task.attempt }
        container = "docker://yinxiu/variantalker_annotation:latest"
        tag = { "${ meta.custom_id ?: meta.patient }_${chunk_index}" }
        time = {2.h * task.attempt}
    }

    withName:insert_annotations {
        cpus = 1
        memory = { 20.GB * task.attempt }
        container = "docker://yinxiu/variantalker_annotation:latest"
        tag = {
            tumor_tissue ?
                "${sample_type}:${tumor_tissue}" :
                "${sample_type}"
        }
        time = {2.h * task.attempt}
    }
    withName:pharmgkb {
        cpus = 1
        memory = { 4.GB * task.attempt }
        container = "docker://pgkb/pharmcat:3.1.1"
        tag = { "${ meta.custom_id ?: meta.patient }" }
        time = {24.h * task.attempt}
    }
    withName:liftover19to38 {
        cpus = 1
        memory = { 8.GB * task.attempt }
        container = "docker://yinxiu/gatk:latest"
        tag = { "${ meta.custom_id ?: meta.patient }" }
        time = {20.m * task.attempt}
    }
}
