process {
    errorStrategy = 'retry'
    maxRetries = 2

    withName:split_chunks {
        cpus = 1
        memory = { 1.GB * task.attempt }
        container = "docker://yinxiu/civicpy:v1.0"
        tag = "split_chunk"
        time = {10.m * task.attempt}
    }
    
    withName:run_funcotator {
        cpus   = 1
        memory = { 4.GB * task.attempt }
        tag    = "funcotator_annotation"
        container = "docker://yinxiu/gatk:latest"
        time = {1.h * task.attempt}
    }

    withName:add_guidelines_escat {
        cpus = 1
        memory = "1 G"
        container = "docker://yinxiu/gatk:latest"
        tag = "add_guidelines_escat"
        time = {10.m * task.attempt}
    }

    withName:add_alpha_missense {
        cpus = 1
        memory = { 3.GB * task.attempt }
        tag = "alphamissense"
        container = "docker://ubuntu:20.04"
        time = {10.m * task.attempt}
    }

    withName:filter_maf {
        cpus = 1
        memory = { 1.GB * task.attempt }
        container = "docker://yinxiu/gatk:latest"
        tag = "filtermaf"
        time = {10.m * task.attempt}
    }

    withName:merge_chunks {
        cpus = 1
        memory = { 1.GB * task.attempt }
        container = "docker://ubuntu:20.04"
        tag = "merge_chunk"
        time = {10.m * task.attempt}
    }

    withName:filter_germline_variants {
        cpus = 1
        memory = "1 G"
        tag = "filter_variants"
        container = "docker://yinxiu/gatk:latest"
        time = {10.m * task.attempt}
    }

    withName:standardize_germline_vcf {
        cpus = 1
        memory = "1 G"
        tag = "rename_and_index"
        container = "docker://yinxiu/gatk:latest"
        time = {10.m * task.attempt}
    }

    withName:run_germline_intervar {
        cpus = 1
        memory = { 4.GB * task.attempt }
        tag = "intervar"
        container = "docker://yinxiu/gatk:latest"
        time = {10.m * task.attempt}
    }

    withName:run_germline_renovo {
        cpus = 1
        memory = { 1.GB * task.attempt }
        tag = "renovo"
        container = "docker://yinxiu/renovo:v1.0"
        time = {15.m * task.attempt}
    }

    withName:standardize_somatic_vcf {
        cpus = 1
        memory = "1 G"
        container = "docker://yinxiu/gatk:latest"
        tag = "standardize_vcf"
        time = {10.m * task.attempt}
    }

    withName:add_somatic_civic {
        cpus = 3
        memory = { 1.GB * task.attempt }
        container = "docker://yinxiu/civicpy:v1.0"
        tag = "civic2vcf"
        time = {2.h * task.attempt}
    }

    withName:run_somatic_cancervar {
        cpus = 1
        memory = { 3.GB * task.attempt }
        container = "docker://yinxiu/gatk:latest"
        tag = "cancervar"
        time = {10.m * task.attempt}
    }

    withName:annotate_cnv{
        cpus = 1
        memory = "1 G"
        container = "docker://yinxiu/classifycnv:latest"
        tag = "annotate_cnv"
        time = {5.m * task.attempt}
    }
}