/**************************** Annotation parameters ****************************/
// renovo annotation
params{
   renovo{
      path = "/software/renovo/"
   }
}

// cnv annotation
params {
   classifyCNV{
      folder = '/software/ClassifyCNV' // it's provided in the singularity
   }
}


// cnv calling from duplication marked bam files
params{
   cnvkit{
      refFlat = '/hpcnfs/data/DIMA/public_db/refFile/hg38/refFlat.txt'
      cellularity = false
      threshold = '-1.1,-0.4,0.3,0.7'
   }
}