process {
    errorStrategy = 'retry'
    maxRetries = 3

    withName: 'ASCAT' {
        ext.args         = {[
            "gender": meta.sex,
            "genomeVersion": params.ascat_genome,
            "purity": params.ascat_purity,
            "ploidy": params.ascat_ploidy,
            "minCounts": params.ascat_min_counts,
            "chrom_names": meta.sex == 'XX' ? "c(1:22, 'X')" : "c(1:22, 'X', 'Y')",
            "min_base_qual": params.ascat_min_base_qual,
            "min_map_qual": params.ascat_min_map_qual
            ]}
        cpus = 4
        memory = { 40.GB * task.attempt }
    }
    
    withName:generate_pyclone {
        cpus   = 1
        memory = { 5.GB * task.attempt }
        tag    = "generate_pyclone"
        container = "docker://yinxiu/clonal_evolution:latest"
        time = {2.h * task.attempt}
    }

    withName:pyclone {
        cpus   = 1
        memory = { 5.GB * task.attempt }
        tag    = "pyclone"
        container = "docker://yinxiu/clonal_evolution:latest"
        time = {36.h * task.attempt}
    }
}