params {
    genomes {
        'hg38' {
            ascat_alleles         = "${params.ascat_genome_basedir}/ascat_wes_files/hg38/G1000_alleles_hg38.zip"
            ascat_loci            = "${params.ascat_genome_basedir}/ascat_wes_files/hg38/G1000_loci_hg38.zip"
            ascat_loci_gc         = "${params.ascat_genome_basedir}/ascat_wes_files/hg38/GC_G1000_hg38.zip"
            ascat_loci_rt         = "${params.ascat_genome_basedir}/ascat_wes_files/hg38/RT_G1000_hg38.zip"
        }
        'hg19' {
            ascat_alleles         = "${params.ascat_genome_basedir}/ascat_wes_files/hg19/G1000_alleles_hg19.zip"
            ascat_loci            = "${params.ascat_genome_basedir}/ascat_wes_files/hg19/G1000_loci_hg19.zip"
            ascat_loci_gc         = "${params.ascat_genome_basedir}/ascat_wes_files/hg19/GC_G1000_hg19.zip"
            ascat_loci_rt         = "${params.ascat_genome_basedir}/ascat_wes_files/hg19/RT_G1000_hg19.zip"
        }
   }
}