params {
    genomes {
        'hg38' {
            ascat_alleles         = "${params.database_dir}/hg38/ascat_wes_files/hg38/G1000_alleles_hg38.zip"
            ascat_loci            = "${params.database_dir}/hg38/ascat_wes_files/hg38/G1000_loci_hg38.zip"
            ascat_loci_gc         = "${params.database_dir}/hg38/ascat_wes_files/hg38/GC_G1000_hg38.zip"
            ascat_loci_rt         = "${params.database_dir}/hg38/ascat_wes_files/hg38/RT_G1000_hg38.zip"
            alpha_missense        = "${params.database_dir}/hg38/alpha_missense/hg38/AlphaMissense_hg38.231106.tsv.gz"
        }
        'hg19' {
            ascat_alleles         = "${params.database_dir}/hg19/ascat_wes_files/hg19/G1000_alleles_hg19.zip"
            ascat_loci            = "${params.database_dir}/hg19/ascat_wes_files/hg19/G1000_loci_hg19.zip"
            ascat_loci_gc         = "${params.database_dir}/hg19/ascat_wes_files/hg19/GC_G1000_hg19.zip"
            ascat_loci_rt         = "${params.database_dir}/hg19/ascat_wes_files/hg19/RT_G1000_hg19.zip"
            alpha_missense        = "${params.database_dir}/hg19/alpha_missense/hg19/AlphaMissense_hg19.231106.tsv.gz"
        }
   }
}