singularity.enabled = true
singularity.runOptions = ' --bind /hpcnfs/ '
process.executor = 'pbspro'
process.queue = 'workq'

params {
   max_cpus = 15 // Base specifications
   max_memory = 40.GB // Base specifications
   max_time = 10.h // Base specifications
   tools = "ascat"
   wes = true
   
   process {
    withName: BASERECALIBRATOR {
    memory = 5.GB
    cpus = 1
    }
   }
   process {
    withName: APPLYBQSR {
    memory = 5.GB
    cpus = 1
    }
   }
}
